$background-color: #DAE0E6;
$font-color: #FFFFFF;
$error: #ff0000;
$border-color: #33A8FF;
$button-color: #3293DB;
$reddit-font: IBMPlexSans, sans-serif;

html, body {
  background: $background-color;
  text-align: center;
  font-family: $reddit-font;
  border-radius: 5%;
}

button {
  background-color: $button-color;
  color: $background-color;
}

p, h1, h2, ul {
  color: $font-color;
  text-decoration: none;
  border: 1vw, ridge, $border-color;
  text-align: center;
}

input {
  margin: 0.5vw;
  width: 40%;
  max-width: 400px;
  min-width: 200px;
}

section {
  border: 0.5vw, ridge, $border-color;
}

.error {
  border-color: $error;
}

.preSearch {
  display: none;
}

.searchForm {
  border: 0.5vw, ridge, $border-color;
}

.headerTitle {
  font-size: 3em;
}

.listItem {
  list-style: none;
  margin: 1vw;
  border-width: 1vw;
  border-style: solid;
  border-color: $border-color;
  border-radius: 2.5%;
  background-color: #FFFFFF;
  color: $background-color;
  margin-bottom: 5vw;
}

.listItem a, p, ul {
  color: $background-color;
}

.listTitle {
  color: #000000;
}

.listUps {
  color: red;
  background: yellow;
  border-width: 0.25vw;
  border-style: ridge;
  border-color: $border-color;
}