$font-color: #000;
$error: #ff0000;
$font-family: Verdana;
$small-font: 10px;
$medium-font: 14px;
$large-font: 16px;
$reddit-blue: #d2e3f6;
$reddit-light-blue: #f1f3fb;
$reddit-grey: #ccccc7;

html, body {
  background: white;
  color: $font-color;
  font-family: $font-family;
  width: 800px;
  margin: auto;
  font-size: $medium-font;
  h2 {
    font-weight: normal;
  }
}

header {
  background: $reddit-blue;
  border: 1px dashed $reddit-grey;
  height: 80px;
  text-align: center;
  font-size: $large-font;
}

form {
  margin: 10px 0px;
  background: $reddit-grey;
  text-align: center;

  input {
    margin: 10px;
    width: 200px;
  }
}

a {
  text-decoration: none;
  color: $font-color;
}

ul {
  padding: 0px;
  margin: 0px;

  li {
    list-style: none;
    background: $reddit-light-blue;
    padding: 10px;
    text-align: left;
    margin: 10px auto;
    border: 1px dashed $reddit-grey;

    h4, p, a {
      margin: 5px auto;
      font-size: $small-font;
    }
  }
}

.error {
  color: $error;
}

.form-error {
  input {
    border: 1px solid $error;
  }
}