$background-color: #444;
$list-background: #aaa;
$font-color: #fff;
$error: #ff0000;
$font-family: Verdana;

html, body {
  background: $background-color;
  color: $font-color;
  font-family: $font-family;
}

form {
  margin: 10px;

  input {
    margin: 10px;
    width: 100px;
  }
}

img {
  height: 100px;
}

a {
  text-decoration: none;
  color: $font-color;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
  background: $list-background;
  padding: 10px;
  margin: 10px auto;
}

.error {
  color: $error;
}